{% load static %}

<!-- footer -->
<section class="w3l-footer-29-main">
    <div class="footer-29 py-5">
        <div class="container py-lg-4">
            <div class="row footer-top-29">
                <div class="col-lg-6 col-12 footer-list-29">
                    <h2>
                        <a class="footer-logo" href="index.html">
                            Happy Events</a>
                    </h2>
                    <p class="sub-list-text mt-4 pt-lg-2">Lorem ipsum dolor sit amet enim. Etiam ullamcorper.
                        Suspendisse a pellentesque
                        dui, non
                        felis. Maecenas malesuada elit lectus felis, malesuada ultricies.</p>
                </div>
                <div class="col-lg-3 col-sm-6 footer-list-29 mt-lg-0 mt-sm-5 mt-4 pt-sm-0 pt-2">
                    <h6 class="footer-title-29">SUPPORT</h6>
                    <ul>
                        <li><a href="#privacy">Privacy Policy</a></li>
                        <li><a href="#terms"> Terms of Service</a></li>
                        <li><a href="contact.html">Contact us</a></li>
                        <li><a href="#support"> Support</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6 footer-contact-list mt-lg-0 mt-sm-5 mt-4 pt-sm-0 pt-2">
                    <h6 class="footer-title-29">Contact Info </h6>
                    <ul>
                        <li class="d-flex align-items-center py-2"><i class="fa fa-map-marker mr-2"
                                aria-hidden="true"></i>10001, 5th Avenue, USA</li>
                        <li class="d-flex align-items-center py-2"><i class="fa fa-phone mr-2"
                                aria-hidden="true"></i><a href="tel:+12 23456790">+12
                                23456790</a></li>
                        <li class="d-flex align-items-center py-2"><i class="fa fa-envelope mr-2"
                                aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //footer -->
<!-- copyright -->
<section class="w3l-copyright">
    <div class="container">
        <div class="row bottom-copies">
            <p class="col-lg-8 copy-footer-29 ">© 中南财经政法大学统计与数学学院 All rights reserved</p>
            <div class="col-lg-4 text-right">
                    <span id="icp"><img src="http://42.193.14.111/static/upload/tsxywts/icp.png" style="vertical-align: text-bottom;"/>
                    <a href="{{ ICP_URL }}" target="_blank">{{ICP_NUMBER}}</a>
                    </span>
            </div>
        </div>
    </div>
</section>
<!-- //copyright -->