{% extends 'layout/base.html' %}
{% load static %}
{% load extras %}

{% block css %}
    <style>
        .inner-banner {
            background: url({{ category.banner }}) no-repeat top;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            -ms-background-size: cover;
            min-height: 300px;
            position: relative;
            z-index: 1;
        }
    </style>
{% endblock %}
{% block banner %}
    <!-- inner banner -->
    <div class="inner-banner">
        <section class="w3l-breadcrumb">
            <div class="container">
                <h4 class="inner-text-title font-weight-bold text-white mb-sm-3 mb-2">品牌</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li class="active"><span class="fa fa-chevron-right mx-2"
                                             aria-hidden="true"></span>{{ category.name }}</li>
                </ul>
            </div>
        </section>
    </div>
    <!-- //inner banner -->
{% endblock %}

{% block contents %}
    <!-- blog section -->
    <div class="blog-section py-5">
        <div class="container py-md-5 py-4">
            <div class="waviy text-center mb-md-2 mb-2">
                <span style="--i:1">O</span>
                <span style="--i:2">u</span>
                <span style="--i:3">r</span>
                <span style="--i:4"></span>
                <span style="--i:5">N</span>
                <span style="--i:6">e</span>
                <span style="--i:7">w</span>
                <span style="--i:8">s</span>
                <span style="--i:1"></span>
                <span style="--i:2">&</span>
                <span style="--i:3"></span>
                <span style="--i:4">E</span>
                <span style="--i:5">v</span>
                <span style="--i:6">e</span>
                <span style="--i:7">n</span>
                <span style="--i:8">t</span>
                <span style="--i:9">s</span>
            </div>
            {% for distinct_article in tags_of_articles %}
                <a href="?tag=1" class="btn btn-style">{{ distinct_article.tag }}</a>
            {% endfor %}
            <div class="row">
                {% for article in page_obj %}
                    {% if forloop.counter0|mod:3 == 0 %}
                        <div class="col-lg-4 col-md-6 item">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="#single">
                                        <img class="card-img-bottom d-block radius-image-full"
                                             src="{% static 'images/blog1.jpg' %}"
                                             alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body blog-details">
                                    <span class="label-blue">{{ article.tag }}</span><br>
                                    <a href="#single" class="blog-desc">{{ article.title }}
                                    </a>
                                    <div class="author align-items-center mt-3 mb-1">
                                        <img src="{% static 'images/testi1.jpg' %}" alt=""
                                             class="img-fluid rounded-circle"/>
                                        <ul class="blog-meta">
                                            <li>
                                                <a href="#single">{{ article.author }}</a>
                                            </li>
                                            <li class="meta-item blog-lesson">
                                                <span class="meta-value"> {{ article.update_time|date:"M d Y" }} </span>.
                                                <span
                                                        class="meta-value ml-2"><span class="fa fa-clock-o"></span> 1 min</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if forloop.counter0|mod:3 == 1 %}
                        <div class="col-lg-4 col-md-6 mt-md-0 mt-sm-5 mt-4">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="#single">
                                        <img class="card-img-bottom d-block radius-image-full"
                                             src="{% static 'images/blog3.jpg' %}"
                                             alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body blog-details">
                                    <span class="label-blue">{{ article.tag }}</span><br>
                                    <a href="#single" class="blog-desc">{{ article.title }}
                                    </a>
                                    <div class="author align-items-center mt-3 mb-1">
                                        <img src="{% static 'images/testi1.jpg' %}" alt=""
                                             class="img-fluid rounded-circle"/>
                                        <ul class="blog-meta">
                                            <li>
                                                <a href="#single">{{ article.author }}</a>
                                            </li>
                                            <li class="meta-item blog-lesson">
                                                <span class="meta-value"> {{ article.update_time|date:"M d Y" }} </span>.
                                                <span
                                                        class="meta-value ml-2"><span class="fa fa-clock-o"></span> 1 min</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if forloop.counter0|mod:3 == 2 %}
                        <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="#single">
                                        <img class="card-img-bottom d-block radius-image-full"
                                             src="{% static 'images/blog2.jpg' %}"
                                             alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body blog-details">
                                    <span class="label-blue">{{ article.tag }}</span><br>
                                    <a href="#single" class="blog-desc">{{ article.title }}
                                    </a>
                                    <div class="author align-items-center mt-3 mb-1">
                                        <img src="{% static 'images/testi1.jpg' %}" alt=""
                                             class="img-fluid rounded-circle"/>
                                        <ul class="blog-meta">
                                            <li>
                                                <a href="#single">{{ article.author }}</a>
                                            </li>
                                            <li class="meta-item blog-lesson">
                                                <span class="meta-value"> {{ article.update_time|date:"M d Y" }} </span>.
                                                <span
                                                        class="meta-value ml-2"><span class="fa fa-clock-o"></span> 1 min</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 用于闭合标签 -->
                        </div>
                        <div class="row">
                    {% endif %}
                {% endfor %}
                </div>
            {% if is_paginated %}
                <nav aria-label="Page navigation">
                    <form class="" action="{% url 'article_category' category.id %}" method="GET">
                        <label for="input-data">页数：</label>
                        <input type="text" id="input-data" name="page">
                        <button type="submit" class="btn">跳转</button>
                    </form>
                    <ul class="pagination justify-content-end">
                        {% if page_obj.has_previous %}
                            {% if page_obj.previous_page_number > 1 %}
                                <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                            {% endif %}
                            {% if page_obj.previous_page_number > 2 %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ page_obj.previous_page_number|add:"-2" }}">{{ page_obj.previous_page_number|add:"-2" }}</a>
                                </li>
                            {% endif %}
                            {% if page_obj.previous_page_number > 1 %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ page_obj.previous_page_number }}">&lsaquo;</a>
                                </li>
                            {% endif %}
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if num == page_obj.number %}
                                <li class="page-item active"><a class="page-link" href="#">{{ num }} <span
                                        class="sr-only">(current)</span></a></li>
                            {% elif num > page_obj.number|add:"-2" and num < page_obj.number|add:"2" %}
                                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            {% if page_obj.next_page_number < page_obj.paginator.num_pages %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&rsaquo;</a>
                                </li>
                            {% endif %}
                            {% if page_obj.next_page_number < page_obj.paginator.num_pages|add:"-1" %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ page_obj.next_page_number|add:"2" }}">{{ page_obj.next_page_number|add:"2" }}</a>
                                </li>
                            {% endif %}
                            {% if page_obj.next_page_number < page_obj.paginator.num_pages %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}


        </div>
    </div>
    <!-- //blog section -->
{% endblock %}