{% extends 'layout/base.html' %}
{% load static %}

{% block banner %}
    <!-- inner banner -->
    <div class="inner-banner">
        <section class="w3l-breadcrumb">
            <div class="container">
                <h4 class="inner-text-title font-weight-bold text-white mb-sm-3 mb-2">工作品牌</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="{% url 'index' %}">主页</a></li>
                    <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span> 思政教育铸魂
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <!-- //inner banner -->
{% endblock %}

{% block contents %}
    <!-- blog section -->
    <div class="blog-section py-5">
        <div class="container py-md-5 py-4">
            <div class="waviy text-center mb-md-5 mb-4">
                <span style="--i:1">O</span>
                <span style="--i:2">u</span>
                <span style="--i:3">r</span>
                <span style="--i:4"></span>
                <span style="--i:5">N</span>
                <span style="--i:6">e</span>
                <span style="--i:7">w</span>
                <span style="--i:8">s</span>
                <span style="--i:1"></span>
                <span style="--i:2">&</span>
                <span style="--i:3"></span>
                <span style="--i:4">E</span>
                <span style="--i:5">v</span>
                <span style="--i:6">e</span>
                <span style="--i:7">n</span>
                <span style="--i:8">t</span>
                <span style="--i:9">s</span>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 item">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#single">
                                <img class="card-img-bottom d-block radius-image-full"
                                     src="{% static 'images/blog1.jpg' %}"
                                     alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <span class="label-blue">Parties</span>
                            <a href="#single" class="blog-desc">Sunt in culpa qui officia dese runt mollit anim
                            </a>
                            <div class="author align-items-center mt-3 mb-1">
                                <img src="{% static 'images/testi1.jpg' %}" alt="" class="img-fluid rounded-circle"/>
                                <ul class="blog-meta">
                                    <li>
                                        <a href="#single">Isabella ava</a>
                                    </li>
                                    <li class="meta-item blog-lesson">
                                        <span class="meta-value"> Jan 28 2021 </span>. <span
                                            class="meta-value ml-2"><span class="fa fa-clock-o"></span> 1 min</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-sm-5 mt-4">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#single">
                                <img class="card-img-bottom d-block radius-image-full"
                                     src="{% static 'images/blog3.jpg' %}"
                                     alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <span class="label-blue">Celebrations</span>
                            <a href="#single" class="blog-desc">Eaque ipsa quae ab illo remos dez inve ntore
                            </a>
                            <div class="author align-items-center mt-3 mb-1">
                                <img src="{% static 'images/testi2.jpg' %}" alt="" class="img-fluid rounded-circle"/>
                                <ul class="blog-meta">
                                    <li>
                                        <a href="#single">Charlotte mia</a>
                                    </li>
                                    <li class="meta-item blog-lesson">
                                        <span class="meta-value"> Jan 13, 2021 </span>. <span
                                            class="meta-value ml-2"><span class="fa fa-clock-o"></span> 1 min</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#single">
                                <img class="card-img-bottom d-block radius-image-full"
                                     src="{% static 'images/blog2.jpg' %}"
                                     alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <span class="label-blue">New Year</span>
                            <a href="#single" class="blog-desc">Quasi archi tecto bea dicta sunt expl icab
                            </a>
                            <div class="author align-items-center mt-3 mb-1">
                                <img src="{% static 'images/testi3.jpg' %}" alt="" class="img-fluid rounded-circle"/>
                                <ul class="blog-meta">
                                    <li>
                                        <a href="#single">Charlotte mia</a>
                                    </li>
                                    <li class="meta-item blog-lesson">
                                        <span class="meta-value">Jan 06 2021 </span>. <span
                                            class="meta-value ml-2"><span class="fa fa-clock-o"></span> 1 min</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //blog section -->

{% endblock %}