{% extends 'layout/base.html' %}
{% load static %}

{% block css %}
    <style>
    .team-wrapper {
      width: 100%;
      overflow: hidden;
    }
    .team-container {
      display: flex;
      white-space: nowrap;
      animation: scroll 20s linear infinite;
    }
    .team-item {
      transition: transform 0.5s ease-out;
      transform: translateX(0);
    }
    @keyframes scroll {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
    </style>
{% endblock %}

{% block banner %}
    <!-- inner banner -->
    <div class="inner-banner">
        <section class="w3l-breadcrumb">
            <div class="container">
                <h4 class="inner-text-title font-weight-bold text-white mb-sm-3 mb-2">About Us</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>About Us</li>
                </ul>
            </div>
        </section>
    </div>
    <!-- //inner banner -->
{% endblock %}

{% block contents %}
    <!-- testimonials -->
    <section class="w3l-clients-1" id="testimonials">
        <div class="cusrtomer-layout py-5">
            <div class="container py-md-5 py-4">
                <div class="waviy text-center mb-sm-5 mb-4">
                    <span style="--i:1">W</span>
                    <span style="--i:2">h</span>
                    <span style="--i:3">a</span>
                    <span style="--i:4">t</span>
                    <span style="--i:5"></span>
                    <span style="--i:6">P</span>
                    <span style="--i:7">e</span>
                    <span style="--i:8">o</span>
                    <span style="--i:1">p</span>
                    <span style="--i:2">l</span>
                    <span style="--i:3">e</span>
                    <span style="--i:4"></span>
                    <span style="--i:5">S</span>
                    <span style="--i:6">a</span>
                    <span style="--i:7">y</span>
                </div>
                <div class="testimonial-row">
                    <div id="owl-demo2" class="owl-two owl-carousel owl-theme mb-md-3 mb-sm-5 mb-4">
                        {% for department in departments %}
                            <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>{{ department.desc }}</q>
                                    </blockquote>
                                    <div class="testi-des">
                                        <a href="{{ department.url }}" class="testi-img">
                                            <img src="{{ department.avatar }}" alt=""
                                                 class="radius-image img-fluid">
                                        </a>
                                        <div class="peopl align-self">
                                            <h3>{{ department.name }}</h3>
                                            <a href="{{ department.url }}" class="btn btn-style">{{ department.button_word }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //testimonials -->

    <!-- team sections -->
    <section class="w3l-team-main" id="team">
        <div class="team py-5">
            <div class="container py-md-5 py-4">
                <div class="waviy white-text text-center mb-sm-5 mb-4">
                    <span style="--i:1">O</span>
                    <span style="--i:2">u</span>
                    <span style="--i:3">r</span>
                    <span style="--i:4"></span>
                    <span style="--i:5">T</span>
                    <span style="--i:6">e</span>
                    <span style="--i:7">a</span>
                    <span style="--i:8">m</span>
                    <span style="--i:9"></span>
                    <span style="--i:10">M</span>
                    <span style="--i:11">e</span>
                    <span style="--i:12">m</span>
                    <span style="--i:13">b</span>
                    <span style="--i:14">e</span>
                    <span style="--i:15">r</span>
                    <span style="--i:16">s</span>
                </div>
                <!-- fireworks effect -->
                <div class="pyro">
                    <div class="before"></div>
                    <div class="after"></div>
                </div>
                <div class="team-wrapper">
                    <div class="team-row team-container mt-md-5 mt-4">
                        {% for teammember in teammembers %}
                        <div class="team-wrap team-item mx-2 mx-lg-4">
                            <div class="team-member text-center">
                                <div class="team-img">
                                    <img src="{{ teammember.photo }}" alt="" class="radius-image">
                                </div>
                                <a href="{{ teammember.introduction_url }}" class="team-title">{{ teammember.name }}</a>
                                <p class="team-sub-title">{{ teammember.desc }}</p>
                                <a href="{{ teammember.introduction_url }}" class="btn btn-style mt-1">{{ teammember.button_word }}</a>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //team sections -->
{% endblock %}